html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
}

h3 {
  font-family: 'Oswald',sans-serif;
  color: #4d4d4d;
}

button {
  background-color: red;
  color: #fff;
}

#map {
  height: 700px;
  width: 100%;
}

#flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background: #333;
  margin: 0 auto;
  padding: 1px;
}

#flex1 {
  flex: auto;
  min-width: 200px;
  background: red;
  text-align: center;
  font-size: 18pt;
}

#flex2 {
  flex: auto;
  min-width: 200px;
  background: #d9d9d9;
  text-align: center;
  font-size: 18pt;
}

#flex3 {
  flex: auto;
  min-width: 200px;
  background: #8c8c8c;
  text-align: center;
  font-size: 18pt;
}

#flex4 {
  flex: auto;
  min-width: 200px;
  background: #a9a9a9;
  text-align: center;
  font-size: 18pt;
}

#flex5 {
  flex: auto;
  min-width: 200px;
  background: #d9d9d9;
  text-align: center;
  font-size: 18pt;
}

#flex6 {
  flex: auto;
  min-width: 200px;
  background: #8c8c8c;
  text-align: center;
  font-size: 18pt;
}
